.min-max-width{
    min-width: 400px;
    max-width: 500px;
}

.btn:active, .pressable:active {
    transform: scale(0.94);
    opacity: 0.7;
    transition: transform .1s, opacity .1s;
}

.rarity-bars {
    display: flex;
    gap: 4px;
}

.rarity-bars span {
    width: 16px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 2px;
}

.rarity-bars span.active {
    background-color: #0d6efd;
}