<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/navigation :: header(_)}"></head>
<body class="min-vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="container container-sm p-4 bg-white shadow-lg rounded-3 text-center my-4 flex-shrink-0">
        <h2>Вітаю, <span sec:authentication="principal.attributes['name']"></span> <span sec:authentication="principal.attributes['surname']"></span> (<span sec:authentication="name"></span>)</h2>
        <div class="list-group">
            <a th:href="@{/train}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Тренуватись</a>
            <a th:href="@{/words}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Слова</a>
            <a th:href="@{/statistic}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Статистика</a>
            <a th:href="@{/add}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Додати</a>
            <a th:href="@{/random}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Додати випадкове</a>
            <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-primary fw-bold">Піти</a>
        </div>
    </div>
</body>
</html>