<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Вітаю, <span sec:authentication="principal.attributes['name']"></span> <span sec:authentication="principal.attributes['surname']"></span> (<span sec:authentication="name"></span>)</h2>
    <div><a th:href="@{/train}">Тренуватись</a></div>
    <div><a th:href="@{/words}">Слова</a></div>
    <div><a th:href="@{/statistic}">Статистика</a></div>
    <div><a th:href="@{/add}">Додати</a></div>
    <div><a th:href="@{/logout}">Піти</a></div>
</div>
</body>
</html>