<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/navigation :: header('Тренування')}"></head>

<body class="min-vh-100 d-flex justify-content-center align-items-center bg-light">

    <div class="container container-sm p-4 bg-white shadow-lg rounded-3 text-center my-4 flex-shrink-0">

        <div th:replace="~{fragments/navigation :: nav}"></div>

        <div onclick="showTranslation()">
            <div class="mb-4"
                 th:if="${mode == 'train'}">
                <div class="progress" role="progressbar" style="height: 10px;">
                    <div class="progress-bar"
                         th:style="|width: ${progressPercent}%; background-color: ${stateColor};|">
                    </div>
                </div>
            </div>

            <div class="card text-center border-0">
                <div class="card-body">

                    <h2 class="card-title fw-bolder mb-0 d-flex justify-content-center align-items-center gap-2">
                        <span th:text="${word.lang.name() == 'EN' ? word.english : word.ukrainian}"></span>
                        <button type="button"
                                th:if="${not #lists.isEmpty(word.examples)}"
                                onclick="toggleExamples()"
                                class="btn btn-primary btn-sm pressable small-toggle-button"
                                title="Приклади">
                            <i class="bi bi-alphabet-uppercase"></i>
                        </button>
                        <button type="button"
                                th:data-word="${word.english.toLowerCase()}"
                                onclick="playAudio(this.getAttribute('data-word'))"
                                class="btn  btn-primary btn-sm pressable small-toggle-button"
                                title="Прослухати">
                            <i class="bi bi-volume-up-fill"></i>
                        </button>
                    </h2>

                    <div id="examples"
                       class="card-text text-muted fst-italic d-none mt-2">
                        <div th:each="example: ${word.examples}" th:text="${example}"></div>
                    </div>

                    <hr class="my-3" />

                    <p id="translation"
                       class="card-text text-primary fs-4 fw-bold"
                       style="visibility: hidden;"
                       th:text="${word.lang.name() == 'EN' ? word.ukrainian : word.english}"></p>

                    <hr class="my-3" />

                    <div class="card-text text-muted fst-italic text-start"
                       th:utext="${word.description}"></div>
                </div>
            </div>

            <div id="actions" class="d-flex justify-content-center mt-4" style="visibility: hidden;">
                <form th:action="@{/trained}" method="get" id="trainForm"
                      class="d-flex w-100 gap-2"
                      th:if="${mode == 'train'}">

                    <input type="hidden" name="id" th:value="${word.id}">
                    <input type="hidden" name="success" id="successField" value="">
                    <input type="hidden" name="lang" th:value="${word.lang}">

                    <button type="button"
                            onclick="submitForm(true)"
                            class="btn btn-success btn-lg pressable"
                            style="flex: 4;">
                        <i class="bi bi-check-circle-fill" style="font-size: 1.5rem;"></i>
                    </button>

                    <a id="editButton"
                       th:href="@{/edit(w=${word.english})}"
                       class="btn btn-primary btn-lg pressable"
                       style="visibility: hidden; flex: 2;"
                       title="Редагувати слово">
                        <i class="bi bi-pencil" style="font-size: 1.5rem;"></i>
                    </a>

                    <button type="button"
                            onclick="submitForm(false)"
                            class="btn btn-danger btn-lg pressable"
                            style="flex: 4;">
                        <i class="bi bi-x-circle-fill" style="font-size: 1.5rem;"></i>
                    </button>
                </form>

                <button type="button"
                        onclick="reRetro()"
                        class="btn btn-success btn-lg pressable"
                        style="flex: 4;"
                        th:if="${mode == 'retro'}">
                    <i class="bi bi-arrow-repeat" style="font-size: 1.5rem;"></i>
                </button>
            </div>

        </div>
    </div>
<script>
const contextPath = "[[@{/}]]";
function showTranslation() {
    if(document.getElementById('translation').style.visibility === 'hidden') {
        document.getElementById('translation').style.visibility = 'visible';
        document.getElementById('actions').style.visibility = 'visible';
        document.getElementById('editButton').style.visibility = 'visible';
    }
}
function toggleExamples() {
    document.getElementById('examples').classList.toggle('d-none');
}

function submitForm(success) {
    document.getElementById('successField').value = success;
    document.getElementById('trainForm').submit();
}

function reRetro(){
    document.location =  `${contextPath}retro`;
}

function playAudio(word) {
    if (!word) return;

    const audioPath = `${contextPath}speech-files/${word}.mp3`;
    const audio = new Audio(audioPath);

    audio.play().catch(error => {
        console.error("Не вдалося відтворити аудіо. Можливо, файл ще не згенеровано:", error);
    });
}

</script>
</body>
</html>
