<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/navigation :: header('Слова')}"></head>
<body>
<div th:replace="~{fragments/navigation :: nav}"></div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>English</th>
            <th>Ukrainian</th>
            <th>Description</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="word : ${words}" th:object="${word}">
            <td>
                <a th:href="@{'/delete(id=*{id})}" th:text="*{id}"></a>
            </td>
            <td>
                <a th:href="@{/edit(w=*{english})}" th:text="*{english}"></a>
            </td>
            <td th:text="*{ukrainian}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{state}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/add}">Додати</a>
</div>
</body>
</html>