<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/navigation :: header(_)}"></head>
<body class="min-vh-100 d-flex justify-content-center align-items-center bg-light">

    <div class="container container-sm p-4 bg-white shadow-lg rounded-3 text-center my-4 flex-shrink-0">

        <div th:replace="~{fragments/navigation :: nav}"></div>
        <div th:if="${word != null}">
            <h3 class="mb-4 text-primary" th:text="|Редагування слова №${word.id}|"></h3>
            <div th:if="${randomListSize != null}" th:text="${randomListSize}"></div>
            <form th:action="@{/save}" th:object="${word}" method="post" class="text-start">


                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{englishCnt}"/>
                <input type="hidden" th:field="*{ukrainianCnt}"/>
                <input type="hidden" th:field="*{lastTrain}"/>
                <input type="hidden" th:field="*{dictWordId}"/>
                <div class="mb-3">
                    <label for="englishInput" class="form-label fw-bold">Англійське слово</label>
                    <input type="text" th:field="*{english}" class="form-control" id="englishInput" required/>
                </div>

                <div class="mb-3">
                    <label for="ukrainianInput" class="form-label fw-bold">Український переклад</label>
                    <div class="input-group">
                        <input type="text" th:field="*{ukrainian}" class="form-control" id="ukrainianInput" required/>

                        <a th:href="@{https://translate.google.com(sl='en', tl='uk', op='translate', text=${word.english})}"
                           target="_blank"
                           class="btn btn-outline-secondary"
                           title="Перекласти у Google Translate">

                            <i class="bi bi-translate"
                               style="font-size: 1.25rem;"
                               aria-label="Google Translate Icon"></i>
                        </a>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="descriptionTextarea" class="form-label fw-bold">Опис</label>
                    <textarea th:field="*{description}" class="form-control" id="descriptionTextarea" rows="4"></textarea>
                </div>

                <div class="mb-4">
                    <label for="stateSelect" class="form-label fw-bold">Стан вивчення</label>
                    <select th:field="*{state}" class="form-select" id="stateSelect">
                        <option th:each="s : ${T(org.sav.fornas.cards.client.cardsback.model.WordDto.StateEnum).values()}"
                                th:value="${s}"
                                th:text="${s}">
                        </option>
                    </select>
                </div>

                <div class="d-flex gap-2 mt-4">

                    <button th:if="${word.id == 0}" type="submit" th:formaction="@{/setSkipped}"
                            class="btn btn-secondary w-100"
                            title="Не цікаво / Пропустити">
                        <i class="bi-emoji-dizzy" style="font-size: 1.5rem;"></i>
                    </button>

                    <button type="submit" class="btn btn-primary w-100" title="Зберегти зміни">
                        <i class="bi bi-emoji-heart-eyes" style="font-size: 1.5rem;"></i>
                    </button>

                    <button th:if="${word.id == 0}" type="submit" th:formaction="@{/setKnown}"
                            class="btn btn-success w-100"
                            title="Знаю">
                        <i class="bi bi-emoji-sunglasses" style="font-size: 1.5rem;"></i>
                    </button>

                </div>

            </form>
        </div>
        <div th:if="${word == null}">То мабуть ще завантажується</div>
    </div>
<script th:inline="javascript">

    const editBaseUrl = /*[[@{/edit}]]*/ '';

    document.getElementById('englishInput').addEventListener('change', function () {
        const value = this.value.trim();
        if (value.length > 0) {
            window.location.href = editBaseUrl + '?w=' + encodeURIComponent(value);
        }
    });

</script>
</body>
</html>
